@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Bree Serif', serif;
  /* background-image: linear-gradient(to top, #f43b47 0%, #453a94 100%); */
  color: #fff;
  /* background-color: #222629; */

}
.coin-app{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-top: 10px !important; */
  /* margin: 64px; */
  color: #fff;
}
.coin-search{
  margin-bottom: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.coin-text{
  margin-bottom: 32px;
  text-align: center;
}
.coin-input{
  padding-left: 16px;
  width: 300px;
  height: 50px;
  border-radius: 4px;
  border: 1px solid gray;
  /* background-image: linear-gradient(to right, #3ab5b0 0%, #3d99be 31%, #56317a 100%); */
  /* background-image: linear-gradient(to right, #fcc5e4 0%, #fda34b 15%, #ff7882 35%, #c8699e 52%, #7046aa 71%, #0c1db8 87%, #020f75 100%); */
color: #e2e2e2;
}
.coin-input::placeholder{
  color: #e2e2e2;
}
.coin-heading{
  display: flex;
  opacity: 1;
}
.head-coin{
  width: 311px;
  padding-left: 20px;
}
.head-coin h4{
  color: #000;
}
.head-Current{
  min-width: 140px;
}
.head-Current h4{
  color: #000;
}
.head-volume{
  min-width: 200px;
}
.head-volume h4{
  color: #000;
}
.head-percentage{
  min-width: 110px;
}
.head-percentage h4{
  color: #000;
}
.head-cap{
  min-width: 115px;
  padding-left: 15px;
}
.head-cap h4{
  color: #000;
}
div.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding-left: 64px;
  padding-right: 64px;
  width: 100%;
  
	/* background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 700% 700%;
  animation: gradient 15s ease infinite; */
}
body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}
.coin-heading-css{
  display: flex;
  align-items: center;
  padding-left: 248px;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
